@import '~@salesforce-ux/design-system/scss/_design-tokens';

#sidebar {
  padding: 1em;
  width: 20rem;
  background: $brand-light;
  flex-shrink: 0;

  #site-banner {
    padding: 2em;
    height: 8rem;
    text-align: center;

    img {
      height: 100%;
    }
  }
}
